*.egg-info
*.swp
.pytest_cache
.venv
.~lock.*#
/mmseqs
__pycache__
cath/data
cath/dbs
cath/hh_dbs/
data
dist
hhsuite
more_sensitive/more_sensitive.aux
more_sensitive/more_sensitive.docx
more_sensitive/more_sensitive.html
more_sensitive/more_sensitive.log
more_sensitive/more_sensitive.pdf
more_sensitive/more_sensitive.tex
more_sensitive/pandoc-2.17.1.1
notebooks/data
notebooks/plots
paper/paper.pdf
pfam/full_sequences_data/
pfam/reverse_data/
pfam/slices_data/
pfam/subset10_t5
scop/data
scratch
som.pdf
som.docx
test-data/*/*.bin
test-data/*/*.npz
test-data/*/*.png
test-data/*/mmseqs_dbs
text/pandoc-2.17.1.1
text/svsp.docx
text/svsp.html
text/svsp.pdf
text/svsp.tex
weissenow
